<% @classes_for_body = "bg-white" %>

<div class="w-full h-screen flex flex-col items-center justify-start bg-white">
  <!-- Logo Section -->
  <div class="mt-10"> <!-- Adjusted margin-top to move the logo up -->
    <%= image_tag('mySocial_logo.png', alt: 'mySocial Logo', size: '400x400') %>
  </div>

  <!-- Description -->
  <p class="text-2xl text-gray-700 mt-4 text-center">a social app for throwing parties with your friends</p>

  <!-- Buttons -->
  <div class="mt-8 flex items-center gap-6 justify-center"> 
    <%= link_to "Sign In", new_session_path, class: "btn btn-primary text-white bg-orange-500 rounded-lg px-6 py-2 shadow-lg" %>
    <%= link_to "Create Account", new_registrations_path, class: "btn btn-secondary text-white bg-orange-300 rounded-lg px-6 py-2 shadow-lg" %>
  </div>
</div>
